# ---- OS / Editor ----
Thumbs.db
.DS_Store

# VS Code (共有しない場合)
.vscode/

# ---- Node (使う場合のみ。claspをグローバルではなくローカル導入したり、lint導入した場合) ----
node_modules/

# ---- Logs (任意) ----
npm-debug.log*
yarn-debug.log*
yarn-error.log*
